 <img src="../../../assets/images/soñar_niños_y_niñas.png" class="kids-background">
<div class="main-race-background pink">
   
    <div class="race-section-1" style="position:relative;" *ngIf="currentSection === 0">
        <p class="credits-and-thanks">GRACIAS A TODAS Y TODOS POR SU PARTICIPACION</p>
        <img class="logo" src="../../../assets/images/new-logo-try.png">
    </div>
    <div *ngIf="currentSection === 1">

    </div>
    <div *ngIf="currentSection === 2">

    </div>

    <div class="static-sidebar">
        <div style="position: relative;width: 100%;height: max-content;">
            <img class="virtual-logo body" src="../../../assets/images/logo-virtual.png">

            <div style="margin-top: 2rem;">
                <img src="../../../assets/images/fundacion-cancer-de-ninos.png">
                <p>FUNDACIÓN NIÑOS Y NIÑAS CON CÁNCER</p>
            </div>
    
            <div style="width: 100%;margin-top: 2rem;">
                <a href="/patrocinadores" style="color: white;"><p style="font-family: 'Fjalla';width: 80%;font-size: 1.2rem;display: block;margin: 0 auto;">HAZ CLICK AQUÍ PARA CONOCER A TODOS NUESTROS PATROCINADORES Y ALIADOS</p></a>
            </div>
    
            <div style="position: relative;bottom: 0;margin-top: 5rem;">
                <a href="https://www.correporcucuta.com/" target="_blank" style="color: white;"><p style="font-family: 'Fjalla';width: 80%;font-size: 1.4rem;display: block;margin: 1rem auto;">WWW.CORREPORCUCUTA.COM</p></a>
                <a href="https://www.instagram.com/correporcucuta" target="_blank"  style="color: white;"><p style="font-family: 'Fjalla';width: 80%;font-size: 1.4rem;display: block;margin: 1rem auto;">@CORREPORCUCUTA</p></a>
                <a href="mailto:correporcucuta@gmail.com" target="_blank"  style="color: white;"><p style="font-family: 'Fjalla';width: 80%;font-size: 1.4rem;display: block;margin: 1rem auto;">CORREPORCUCUTA@GMAIL.COM</p></a>
            </div>
        </div>

    </div>


</div>