

.charity-banner{
  width: auto;
  background: #2C2C2C;
  height:max-content;
  padding: 5rem 2rem;
  & > p:first-of-type{
    width: auto;
    margin: 0 auto;
    font-size: 1.4rem;
    font-family: "Caviar Light";
    text-align: center;
    color: white;
    min-height: 200px;
  }
  & > div:first-of-type{
    text-align: center;
    & > a > img{
      height: 200px;
    }
    & > p{
      padding: 2rem 0!important;
      & > a{
        color: white!important;
        text-decoration: none;
        font-family: 'Fjalla';
      }
      display: inline-block;
      font-size: 2rem;
      opacity: 1;
      color: #2C2C2C;
      transition: all linear 0.3s;
      margin: 0 auto;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: 33.3333%;
      margin: 0;
      text-align: center;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      vertical-align: middle;
      padding: 0;
      min-width: 300px;
      font-size: 1.4rem;
      color: white!important;
      & b{
        margin: 1rem;
        font-family: "Fjalla";
      }
    }
    width: auto !important;
    background-color: #2C2C2C;
    margin-bottom: 5rem !important;
    padding: 35px !important;
    border-radius: 20px !important;
    box-shadow: #7d7d7d 0 0 30px -15px !important;
    color: #7d7d7d;
    transition: all linear 0.3s;
    min-height: 200px;

    background-color: rgb(77, 77, 77)!important;
      & > p:hover {
        background-color: rgba(255, 255, 255, 0.274);
        color: #2C2C2C!important;
        & a{
          transition: all linear 0.15s;
            &:hover{
              text-decoration: underline;
            color: #2C2C2C!important;
          }
        }
      }


  }
}
.shirts-banner{
  width: 100%;
  padding: 10vh 0;
  background: white;
  &  > div > img{
    width: 33.333%;
    margin: 2rem 0;
    display: inline-block;
  }
  & > div{
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
    & > img:hover{

    }
  }
}
.banner{
    position: relative;
    min-width: 900px;
    &.red{
        background: rgb(191,0,0);
        height: max-content;
    }
    &.yellow{
        padding-top: 4rem;
        background: rgb(248,219,0);
        background: linear-gradient(270deg, rgba(248,219,0,1) 50%, rgba(217,196,0,1) 100%);
    }
    &.red-circle{
        background: rgb(229,0,0);
        background: radial-gradient(circle, rgba(229,0,0,1) 37%, rgba(173,0,0,1) 87%, rgba(132,0,0,1) 98%);
    }
    &.transparent{
        background: transparent!important;
        padding: 0!important;
    }
    &.white{
        background: white;
    }
    & > img{
        position: absolute;
        right: 10vw;
    }
    & >.full-height-container{
        position: relative;
        height: 100vh;
        min-height: 1000px;
        overflow: hidden;
        max-width: 80%!important;
        margin: 0 auto;
        &.red{
            background: rgb(191,0,0);
            background: transparent;
        }
        &.yellow{
            padding-top: 4rem;
            background: rgb(248,219,0);
            background: linear-gradient(270deg, rgba(248,219,0,1) 50%, rgba(217,196,0,1) 100%);
            background: transparent;
            & > img:nth-child(1){
                position: relative !important;
                left: 10% !important;
                top: 0 !important;
                width: 60vw !important;
                max-width: 355px !important;
            }
            & > img:nth-child(2){
                position: relative;
                left: 10%;
                top: 10%;
                width: 70vw;
                max-width: 450px;
            }
            & > img:nth-child(4){
              position: relative!important;
              bottom: 0px!important;
              width: 120vw!important;
              margin: 0 auto!important;
              text-align: center!important;
              margin-top: 8rem!important;
              left: -20vw!important;
            }
        }
        &.red-circle{
            background: transparent!important;
            background: rgb(229,0,0);
            background: radial-gradient(circle, rgba(229,0,0,1) 37%, rgba(173,0,0,1) 87%, rgba(132,0,0,1) 98%);
            height: max-content;
        }
        &.paralax{
            background: transparent!important;
        }
        &.white{
            background: white;
        }
        & > img{
            position: absolute;
            right: 10vw;
        }
    }
    & >.half-height-container{
        position: relative;
        height: 50vh;
        min-height: 600px;
        overflow: hidden;
        &.red{
            background: rgb(191,0,0);
            background: linear-gradient(270deg, rgba(191,0,0,1) 81%, rgba(136,0,0,1) 100%);
        }
        &.yellow{
            padding-top: 4rem;
            background: rgb(248,219,0);
            background: linear-gradient(270deg, rgba(248,219,0,1) 50%, rgba(217,196,0,1) 100%);
            & > img:nth-child(2){
                position: relative!important;

            }
        }
        &.red-circle{
            background: rgb(229,0,0);
            background: radial-gradient(circle, rgba(229,0,0,1) 37%, rgba(173,0,0,1) 87%, rgba(132,0,0,1) 98%);
        }
        &.paralax{
            background: transparent;
            & > img{
                position: relative!important;
                margin-top: 10rem!important;
            }
            & > h1{
                font-family: 'Fjalla';
                font-size: 2rem;
                position: absolute;
                top: 0;
                right: 5rem;
                background: #900B96;
                padding: 1rem;
                border-radius: 5px;
                color: white;
                letter-spacing: 0px;
                text-align: center;
            }
        }
        & > img{
            position: absolute;
            right: 10vw;
        }
    }
}

.virtual-logo{
    position: absolute !important;
    float: left;
    right: unset !important;
    top: 25%;
    width: 600px;
    max-width: unset;
    left: 5vw;
    z-index: 1;
    &.date{
        position: absolute!important;
        top: 13%;
        width: 300px;
        left: 22.5vw;
    }
}
img.benefit{
  position: absolute;
  right: 10vw;
  width: 33%!important;
  position: relative!important;
  max-width: 260px;
  margin: 0%;
  display: inline-block;
  margin: 8rem 2%;
  width: 29.333%!important;
  right: unset!important;
}
.subscription-option{
    display: inline;
    &>p{
        color: white;
        font-size: 2rem!important;
    }
}
.virtual-distance-container{
    width: 80vw;
    max-width: 800px;
    margin: 4rem auto;
    display: block;
    position: relative;
    margin-top: 0;
    & div{
        display: inline-flex;
        width: 33.3333%;
        & h1{
            cursor: default;
            text-align: center;
            font-family: 'Fjalla';
            font-size: 8rem;
            width: 100%;
            color: #2C2C2C;
            transition: all ease-in-out 120ms;
            margin: 0;
            transition: all ease-in-out 120ms;
            &:hover{
                background-color: #2C2C2C;
                color: white;
            }
            &::before{
                transition: all ease-in-out 100ms;
                content: '';
                opacity: 0;

                font-size: 2rem;
            }

            &:hover::before{
                opacity: 1;
                width: 200px;
                height: 200px;
                position: absolute;
                background-color: #2C2C2C;
                content: '';
                top: 100%;
                left: 0;
                width: 100%;

                font-size: 2rem;
            }

        }
    }
    & > div:nth-child(1) > h1:hover::before{
                opacity: 1;
                width: 200px;
                height: max-content;
                padding: 1rem 0;
                position: absolute;
                background-color: #2C2C2C;
                content: 'Corre con tus hijos y familia desde casa';
                color: white;
                font-size: 3rem;
                top: 100%;
                left: 0;
                width: 100%;
            }
            & > div:nth-child(2) > h1:hover::before{
                opacity: 1;
                width: 200px;
                height: max-content;
                padding: 1rem 0;
                position: absolute;
                background-color: #2C2C2C;
                content: 'Ponte en movimiento. Alcanza nuevas distancias';
                color: white;
                font-size: 3rem;
                top: 100%;
                left: 0;
                width: 100%;
            }
            & > div:nth-child(3) > h1:hover::before{
                opacity: 1;
                width: 200px;
                height: max-content;
                padding: 1rem 0;
                position: absolute;
                background-color: #2C2C2C;
                content: 'Supera tu Personal Record';
                color: white;
                font-size: 3rem;
                top: 100%;
                left: 0;
                width: 100%;
            }
}
#free-registry{
  position: relative !important;
  width: 40vw !important;
  margin: 0 auto !important;
  right: unset !important;
  float: unset;
  margin-right: 0 !important;
  max-width: 330px !important;
  margin-right: 0;
  top: 51px;
  vertical-align: top;
  margin-left: 0rem !important;
  top: 2rem !important;
  margin: unset!important;
  right: 0!important;
  float: right;
  left: unset!important;
}

.subscription-option{
  min-width: unset !important;
  width: 33% !important;
  max-width: 30%;
  position: relative;
  display: inline-block !important;
  margin: 1% !important;
  border-radius: 10px;
  background: #0000002b;
  & > *{
    transition: linear 0.3s all;
  }
  &:hover{
    cursor: default;
  }
  &>p{
    text-align: center!important;
  }
  &:hover > p{
    // text-shadow: 0 0 4px black;
    color: #2C2C2C;
  }
  &:hover > div {
    background-color: #c03229!important;
    color: white;
  }


}
@media screen and (min-width : 860px){
    .subscription-option{
        min-width: unset !important;
    width: 80% !important;
    max-width: 600px;
    position: relative;
    display: block!important;
    margin: 0 auto!important;
    border-radius: 10px;
    background: #0000002b;
    margin: 0 auto;
        & > *{
          transition: linear 0.3s all;
        }
        &:hover{
          cursor: default;
        }
        &>p{
          text-align: center!important;
          padding: 1rem;
        }
        &:hover > p{
          // text-shadow: 0 0 4px black;
         
        }
        &:hover > div {
          background-color: #c03229!important;
          color: white;
        }
      
      
      }
  .banner.green{
    width: auto;
    height: auto;
    position: relative;
    right: unset;
    margin-top: 115px;
    max-width: 100%;
    margin: 0;
    max-height: 45%;
    padding-top: 135px;
    text-align: center;
    background-color: white;
    & > img{
        &:first-of-type{
            width: auto;
            height: 60vh;
            max-height: 500px;
        }
        width: auto;
        height: auto;
        position: relative;
        display: inline-block;
        right: unset;
        margin-top: 115px;
        width: auto;
        max-width: unset;
        margin: 1rem;
        max-height: 500px;
        margin-top: 0;
        vertical-align: top;
        cursor: pointer;
        &:hover{
         box-shadow: 0  0  10px -2px black;   
        }
    }
}
  .signup-link-button{
    width: max-content;
    min-width: 200px;
    text-align: center;
    transition: all linear 0.3s;
    &:hover{
      box-shadow: 0 0 20px -5px black!important;
    }

  }
    .virtual-logo{
        position: absolute !important;
        float: left;
        right: unset !important;
        top: 5rem;
        width: 600px;
        max-width: unset;
        left: 5vw;
        z-index: 1;
        &.date{
            position: relative!important;
            top: 13%;
            width: 300px;
            right: 0!important;
            left: unset;
            float: right;
            right: 2rem!important;
        }
    }
    .charity-cause{
      position: relative !important;
      margin: 0 !important;
      right: unset !important;
      margin: 0 auto !important;
      display: inline-block !important;
      z-index: 1;
      left: 0;
      float: right;
      top: 4rem;
      width: 200px;
      right: 0!important;
      position: relative!important;
    }
  .banner{
    position: relative;
    min-width: 900px;
    &.red{
        background: rgb(191,0,0);
        height: max-content;
        width: 100%!important;
    }
    &.yellow{
        padding-top: 4rem;
        background: rgb(248,219,0);
        background: linear-gradient(270deg, rgba(248,219,0,1) 50%, rgba(217,196,0,1) 100%);
    }
    &.red-circle{
        background: rgb(229,0,0);
        background: radial-gradient(circle, rgba(229,0,0,1) 37%, rgba(173,0,0,1) 87%, rgba(132,0,0,1) 98%);
    }
    &.paralax{
        background: transparent!important;
    }
    &.white{
        background: white;
    }
    & > img{
        position: absolute;
        right: 10vw;
    }
    & >.full-height-container{
        position: relative;
        height: 100vh;
        min-height: 1000px;
        overflow: hidden;
        max-width: 80%!important;
        margin: 0 auto;
        &.red{
            background: rgb(191,0,0);
            background: transparent;
            width: 100%;
            max-width: unset!important;
        }
        &.yellow{
            padding-top: 4rem;
            background: rgb(248,219,0);
            background: linear-gradient(270deg, rgba(248,219,0,1) 50%, rgba(217,196,0,1) 100%);
            background: transparent;
            & > img:nth-child(1){
                position: relative !important;
                left: 10% !important;
                top: 0 !important;
                width: 60vw !important;
                max-width: 355px !important;
            }
            & > img:nth-child(2){
                position: relative;
                left: 10%;
                top: 10%;
                width: 70vw;
                max-width: 450px;
            }
        }
        &.red-circle{
            background: transparent!important;
            background: rgb(229,0,0);
            background: radial-gradient(circle, rgba(229,0,0,1) 37%, rgba(173,0,0,1) 87%, rgba(132,0,0,1) 98%);
            height: max-content;
        }
        &.paralax{
            background: transparent!important;
        }
        &.white{
            background: white;
            position: relative;
            height: max-content;
            min-height: 1000px;
            overflow: hidden;
            max-width: 90% !important;
            margin: 0 auto;
            padding: 2rem 0;
            & p{
                float: right;
                font-family: 'Fjalla';
                font-size: 4rem;
                color: #2C2C2C;
                margin-right: 0!important;
                width: 100%;
                text-align: center!important;
            }
            & ul{
                width: 94vw!important;
                max-width: unset!important;
                font-family: 'Fjalla'!important;
                padding-left: 0!important;
                & li{
                    font-size: 1.4rem;
                    width: 80%;
                    font-size: 1.6rem!important;
                    width: 90%!important;
                    margin: 0 auto!important;
                }
                float: unset!important;
                display: block!important;
                position: relative!important;
                left: unset!important;
                margin: 0 auto!important;
            }
        }
        & > img{
            position: absolute;
            right: 10vw;
        }
    }
    & >.half-height-container{
        position: relative;
        height: 50vh;
        min-height: 600px;
        overflow: hidden;
        &.red{
            background: rgb(191,0,0);
            background: linear-gradient(270deg, rgba(191,0,0,1) 81%, rgba(136,0,0,1) 100%);
        }
        &.yellow{
            padding-top: 4rem;
            background: rgb(248,219,0);
            background: linear-gradient(270deg, rgba(248,219,0,1) 50%, rgba(217,196,0,1) 100%);
            & > img:nth-child(2){
                position: relative!important;

            }
        }
        &.red-circle{
            background: rgb(229,0,0);
            background: radial-gradient(circle, rgba(229,0,0,1) 37%, rgba(173,0,0,1) 87%, rgba(132,0,0,1) 98%);
        }
        &.paralax{
            background: transparent;
        }
        & > img{
            position: absolute;
            right: 10vw;
        }
    }
}
    .virtual-race-face{
        position: absolute!important;
        right: -20rem!important;
        top: 50px!important;
    }
}
@media screen and (max-width : 860px){
    
    .last-chance{
        text-align: center!important;
    width: max-content!important;
    max-width: 300px!important;
    padding: 1rem 2rem!important;
    margin: 0 auto!important;
    font-size: 2rem!important;
    color: white!important;
    font-family: 'Fjalla'!important;
    }
    .banner.green{
        width: auto;
        height: auto;
        position: relative;
        right: unset;
        margin-top: 115px;
        max-width: 100%;
        margin: 0;
        max-height: 45%;
        padding-top: 110px;
        text-align: center;
        background-color: white;
        & > img{
            &:first-of-type{
                width: auto;
                height: auto;
                max-height: 300px;
            }
            width: auto;
            height: auto;
            position: relative;
            display: inline-block;
            right: unset;
            margin-top: 115px;
            width: auto;
            max-width: unset;
            margin: 0;
            max-height: 500px;
            margin-top: 0;
            vertical-align: top;
            cursor: pointer;
            max-width: 90%;
            height: auto;
            margin: 1rem 0;
            margin-top: 0;
            &:hover{
             box-shadow: 0  0  10px -2px black;   
            }
        }
    }
    .banner{
        min-width: unset!important;
        position: relative;
        min-width: 900px;
        &  .full-height-container{
            position: relative;
            height: 100vh;
            min-height: unset!important;
            overflow: hidden;

            max-width: unset!important;
        }
        &.red{
            background: rgb(191,0,0);
        }
        &.yellow{
            padding-top: 4rem;
            background: rgb(248,219,0);
            background: linear-gradient(270deg, rgba(248,219,0,1) 50%, rgba(217,196,0,1) 100%);

        }
        &.red-circle{
            background: rgb(229,0,0);
            background: radial-gradient(circle, rgba(229,0,0,1) 37%, rgba(173,0,0,1) 87%, rgba(132,0,0,1) 98%);
        }
        &.paralax{
            background: transparent!important;
        }
        &.white{
            background: white;
        }
        & > img{
            position: absolute;
            right: 10vw;
        }
    }
    #free-registry{
        position: relative !important;
        width: 50vw !important;
        margin-left: unset!important;
        margin-right: unset!important;
        margin: 0 auto!important;
        right: unset !important;
        float: unset;
        max-width: 280px!important;
        margin-top: 1rem!important;
        left: 0;
    }
    .virtual-distance-container{
        margin-top: 2rem!important;
        & > div{
            display: block;
            width: 100%;
            margin: 0 auto!important;
            & > h1{
                font-size: 3rem;
                text-align: center;
            }
        }
        & > div:nth-child(1) > h1:hover::before{
            opacity: 1;
            width: 200px;
            height: max-content;
            padding: 1rem 0;
            position: absolute;
            background-color: #2C2C2C;
            content: 'Corre con tus hijos y familia desde casa';
            color: white;
            font-size: 1.2rem;
            top: 100%;
            left: 0;
            width: 100%;
        }
        & > div:nth-child(2) > h1:hover::before{
            opacity: 1;
            width: 200px;
            height: max-content;
            padding: 1rem 0;
            position: absolute;
            background-color: #2C2C2C;
            content: 'Ponte en movimiento. Alcanza nuevas distancias';
            color: white;
            font-size: 1.2rem;
            top: 100%;
            left: 0;
            width: 100%;
        }
        & > div:nth-child(3) > h1:hover::before{
            opacity: 1;
            width: 200px;
            height: max-content;
            padding: 1rem 0;
            position: absolute;
            background-color: #2C2C2C;
            content: 'Supera tu Personal Record';
            color: white;
            font-size: 1.2rem;
            top: 100%;
            left: 0;
            width: 100%;
        }
    }
    .banner > .full-height-container{
        position: relative;
        height: 100vh;
        min-height: unset!important;
        overflow: hidden;

        max-width: unset!important;
        &.red{
            background: transparent!important;
         }
        &.red-circle{
           background: transparent!important;
        }
        &.yellow{
            background: #f8db00;
            background: linear-gradient(270deg, #f8db00 50%, #d9c400 100%);
            height: 100vh !important;
            min-height: 700px !important;
            padding: 0;
            padding-top: 0!important;
            & >*{
                position: relative!important;
                display: block;
                float: unset;
                top: unset!important;
            }
            & > img:nth-child(1){
                position: relative !important;
                left: unset!important;
                top: 0 !important;
                width: 85vw !important;
                max-width: 400px !important;
                margin: 0 auto;
                right: unset;
            }
            & > img:nth-child(2){
                position: relative;
                left: 10%;
                top: 10%;
                width: 70vw;
                max-width: 450px;
            }
            & > img:nth-child(4){
                position: relative!important;
                bottom: 0px!important;
                width: 165vw!important;
                margin: 0 auto!important;
                text-align: center!important;
                margin-top: 8rem!important;
                display: none!important;
            }
            & > img:nth-child(5){
                position: relative !important;
                bottom: 0px !important;
                width: 105vw !important;
                margin: 0 auto !important;
                text-align: center !important;
                margin-top: 8rem !important;
                display: block !important;
                left: -5vw;
                right: unset !important;
            }
        }
        &.red-circle{
            background: rgb(229,0,0);
            background: radial-gradient(circle, rgba(229,0,0,1) 37%, rgba(173,0,0,1) 87%, rgba(132,0,0,1) 98%);
        }
        &.paralax{
            background: transparent;
        }
        &.white{
            background: white;
        }
        & > img{
            position: absolute;
            right: 10vw;
        }
    }

    .virtual-logo{
        position: absolute!important;
        float: left;
        right: unset!important;
        top: 20%;
        width: 500px;
        max-width: 500px;
        left: 10vw;
        &.date{
            position: absolute!important;
            top: 13%;
            width: 300px;
            left: 22.5vw;
        }
    }
}

@media screen and (max-width: 450px){
  .shirts-banner{
    width: 100%;
    padding: 10vh 0;
    background: white;
    &  > div > img{
      margin: 0 auto!important;
      display: block!important;
      width: 100%!important;
      text-align: center;
    }
  }
    .paragraf{
        position: relative !important;
        top: 50px !important;
        min-width: 220px;
        left: unset;
        margin: 0 auto !important;
        margin-top: 20px;
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 70vw;
    }
    .charity-cause{
        position: relative !important;
        margin: 0 !important;
        right: unset !important;
        margin: 0 auto !important;
        display: block !important;
        z-index: 2;
        left: 0;
        float: left;
        top: -1rem;
        width: 100px;
        left: 7vw;
    }
    .virtual-race-face{
        height: 100vh !important;
        right: -95% !important;
        top: 40px !important;
        min-height: 815px;;
    }
    .banner{
        padding-top: 50px;
    }
    .banner > .full-height-container{
        padding-top: 60px;
        height: max-content;
        padding-bottom: 20vh;
        &.red{
            background: rgb(191,0,0);
            background: linear-gradient(270deg, rgba(191,0,0,1) 81%, rgba(136,0,0,1) 100%);
            & > img:nth-child(3){
                top: 20vh;
                margin-bottom: 10vh;
                margin-right: 20px;
                width: auto !important;
                right: -320px!important;
                position: relative;
                top: 0 !important;
                margin: 0 auto;
                float: left;
                top: 0;
                position: absolute;

            }
        }
        &.white{
            & ul{
                width: 94vw!important;
                max-width: 500px!important;
                font-family: 'Fjalla'!important;
                padding-left: 0!important;
                & li{
                    font-size: 1.4rem;
                    width: 80%;
                    font-size: 1.2rem!important;
                    width: 90%!important;
                    margin: 0 auto!important;
                }
                float: unset!important;
                display: block!important;
                position: relative!important;
                left: unset!important;
                margin: 0 auto!important;
            }
        }

    }
   .banner>.half-height-container.paralax{
        & > img{
            position: relative!important;
            margin-top: 10rem!important;
        }
        & > h1{
            font-family: 'Fjalla';
            font-size: 2rem;
            position: absolute;
            top: 0;
            right: 5rem;
            background: #900B96;
            padding: 1rem;
            border-radius: 5px;
            color: white;
            letter-spacing: 0px;
            text-align: center;
            right: unset;
            display: block;
            position: relative;
            margin: 0 auto;
        }
    }
    .virtual-logo {
        position: relative !important;
        float: unset;
        right: unset !important;
        top: 20%;
        width: 90vw;
        max-width: 500px;
        left: 5%;
        top: 30px;
        z-index: 1;
    }
    .virtual-logo{
        &.date{
          position: relative !important;
          bottom: 0;
          min-width: 190px;
          left: unset;
          margin: 0 auto !important;
          margin-top: 20px;
          display: block;
          margin: 0 auto;
          text-align: center;
          top: unset;
          width: 50vw;
          right: unset!important;
          left: 1rem;
          margin-right: 0rem !important;
          float: left;
          margin-left: 2rem;
        }
    }
    .benefit{
        position: relative !important;
        display: block !important;
        width: 50%;
        margin: 3rem auto !important;
        right: unset !important;
        font-family: 'Fjalla';
        text-align: center;
        font-size: 2rem;
        color: white;
        font-size: 2rem !important;
    }
    .subscription-option{
      width: 90% !important;
      min-width: unset!important;
      min-width: 90%;
      display: block!important;
      margin: 0 auto!important;
      max-width: unset;
      padding-top: 2rem;
        & > p{
            font-family: 'Fjalla';
            text-align: center !important;
            font-size: 1.6rem;
            color: white;
            font-size: 3rem !important;
            margin: 0 0 !important;
        }
        & > div{
            & > h1{
                font-size: 2rem!important;
            }
            & > h2{
                padding: 2rem 1rem!important;
                text-align: right!important;
                font-size: 2.2rem!important;
                font-family: 'Fjalla';
                color: #e50000!important;
                background: white!important;
            }
        }
    }
    img.benefit{
      width: 80%!important;
      margin: 2rem auto!important;
      max-width: unset!important;
      min-width: unset!important;
      max-width: 300px!important;
    }
    .charity-banner{
      width: auto;
      background: black;
      height:max-content;
      padding: 6rem 2rem;
      & > p:first-of-type{
        width: auto;
        margin: 0 auto;
        font-size: 1.4rem;
        font-family: "Caviar Light";
        text-align: center;
        color: white;
      }
      & > div:first-of-type{
        & > a > img{

          background: #2c2c2c!important;
          height: 200px;

          box-shadow: 0 0 20px 0 black;
        }
        & > p{
          & a{
            display: block;
          }
          display: block;
    font-size: 1rem;
    opacity: 1;
    color: white;
    transition: all linear 0.3s;
    margin: 0 auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    text-align: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    max-width: 100%;
    padding: 3rem 0;
    min-width: unset;
    margin: 0 auto;
    text-align: center;
    width: max-content;
          & span{
            margin: 1rem;
            font-family: "Fjalla";
          }
        }
        width: auto !important;
        background-color: #2C2C2C;
        margin-bottom: 5rem !important;
        padding: 35px !important;
        border-radius: 20px !important;
        box-shadow: none!important;
        color: white;
        transition: all linear 0.3s;
        min-height: 200px;
        background-color: black;
        border: 10px solid white;
        &:hover{
          & > p {
            display: block;
            opacity: 1;
          }
          &>a>img{
            margin: 0 auto;
            display: block!important;
            box-shadow: 0 0 20px 0 black;
          }
        }

      }
    }
}
