
<!-- BANNER SUPERIOR - PRESENTACION LOGO VIRTUAL -->
<div class="banner-race-day-launch">
    <img src="../../../assets/images/fundacion-cancer-de-ninos.png">
    <img src="../../../assets/images/new-logo-try.png">
    <h1 style="font-family: 'Fjalla';margin: 0;">INGRESA AHORA MISMO AL REGISTRO DE TIEMPOS DE LA CARRERA <br> <a href="/carrera">HACIENDO CLICK AQUÍ</a></h1>
    </div>
<div class="banner green">
    <img (click)="navigateTo('https://www.strava.com/clubs/correporcucuta-707489')" src="../../../assets/images/CLUB-STRAVA.png">
    <img (click)="navigateTo('https://www.instagram.com/pedaleaporcucuta')" src="../../../assets/images/PEDALEAPORCUCUTAANUNCIO.png">
</div>
<div class="banner red">
    <div class="full-height-container red">
        <!-- <img class="charity-cause" src="../../../assets/images/fundacion-cancer-de-ninos.png"> -->
        <img class="virtual-logo date" src="../../../assets/images/fecha-oficial.png">
        <img class="virtual-logo body" src="../../../assets/images/logo-virtual.png">
        <img class="virtual-race-face" src="../../../assets/images/race-face-shapes.png">
        <!-- <img style="   width: 1000px;top: -570px;right: 10%;" src="../../../assets/images/shapes-virtual-1.png"> -->
        <img class="paragraf" style="width: 100vw;
        position: absolute;
        left: 0;
        bottom: 10rem;
        max-width: 700px;" src="../../../assets/images/main-content.png">

    </div>
</div>
<div class="charity-banner">
  <div>
    <p><a href="https://www.instagram.com/p/CDPGv5gnCNn/" >#PorqueAquiNadieSeRinde</a><b></b><br>
      <p><a href="https://www.instagram.com/p/CDPGv5gnCNn/" >#correporcucuta</a><b></b><br>
        <p><a href="https://www.instagram.com/p/CDPGv5gnCNn/" >#CorrePorNuestrosNiños</a><b></b><br>
      </p>
    <a href="https://www.xn--fundacinsoar-jhby.com/" target="_blank"><img style="margin: 0 auto;border-radius: 5px;display: block;" src="../../../assets/images/fundacion-cancer-de-ninos.png"></a>
  </div>
  <p>
    Corre por Cúcuta es un evento solidario para apoyar con el tratamiento de niños afectados por el Cáncer. Para nosotros es muy importante concientizar a todos los colombianos puesto que con esta campaña podemos aportar un granito de arena.
Con tu participación y tu esfuerzo brindaremos esperanza de vida para todos nuestros niños.<br>
tu aporte de compra sobre la camisa y medalla será donado en 100% a la FUNDACIÓN SOÑAR para los niños y niñas con cáncer.<br>
Esto es un evento sin ánimo de lucro. La donación será realizada en nombre de todos los cucuteños en representación de la organización CORRE POR CÚCUTA.
  </p>
</div>

<div id="shirts-banner" class="shirts-banner">
  <div >
    <h1 id="shirts-banner-anchor"  style="margin: 0; font-size: 2rem;margin: 0 auto; text-align: center;font-family: 'Fjalla';">DISEÑO OFICIAL - MEDALLA CORRE POR CÚCUTA VIRTUAL 2020</h1>
    <img style="display: block;margin: 2rem auto!important" src="../../../assets/images/medallon-corre-por-cucuta.png">
    <h1 id="shirts-banner-anchor"  style="margin: 0; font-size: 2rem;margin: 0 auto; text-align: center;font-family: 'Fjalla';">CAMISAS OFICIALES - CORRE POR CÚCUTA VIRTUAL 2020</h1>
    <img src="../../../assets/images/camisa-oficial-corre-por-cucuta-azul.png">
    <img src="../../../assets/images/camisa-oficial-corre-por-cucuta-negra.png">
    <img src="../../../assets/images/camisa-oficial-corre-por-cucuta-rosa.png">
  </div>
</div>
<!-- BANNER DISTANCIAS DE LA CARRERA -->
<div class="banner yellow">
    <div class="full-height-container yellow">
        <img src="../../../assets/images/tres-distancias.png" style="position: relative;left: 10%;top: 10%;width: 80vw;max-width: 600px;">
        <img id="free-registry" src="../../../assets/images/free-signup.png" style="position: absolute;right: 10%;top: 10%;width: 90vw;max-width: 400px;">
        <div class="virtual-distance-container">
            <div><h1>5K</h1></div>
            <div><h1>10K</h1></div>
            <div><h1>21K</h1></div>
        </div>
        <img src="../../../assets/images/free-for-all.png" style="    position: relative;bottom: 0px;width: 115vw;margin: 0 auto;text-align: center;margin-top:8rem;">
        <img src="../../../assets/images/free-for-all-mobile.png" style="    position: relative;bottom: 0px;width: 115vw;margin: 0 auto;text-align: center;margin-top:8rem;display: none;">
    </div>
</div>

<div class="banner red-circle">
    <div class="full-height-container red-circle">
       <div class="last-chance" style="text-align: center;width: 100%;max-width: 400px;padding: 1rem 2rem;margin: 0 auto;font-size: 2rem;color: white;font-family: 'Fjalla';">
           ULTIMA OPORTUNIDAD - HASTA EL 30 DE SEPTIEMBRE
       </div>
        <div class="subscription-option" style="width: 100%;min-width: 400px;">

            <p style="font-family: 'Fjalla';text-align: right;font-size: 1.6rem;">VENTA FINAL - FULL KIT</p>
            <div style="background-color: white;">
                <h1 style="padding: 2rem 1rem;text-align: right;font-size: 1.2rem;font-family: 'Fjalla'">REGISTRO + CAMISA FINISHER + MEDALLA FINISHER + OBSEQUIO</h1>
                <h2 style="padding: 2rem 1rem;text-align: right;font-size: 2rem;font-family: 'Fjalla';">$ 65.000</h2>
            </div>
        </div>
        <!-- <div class="subscription-option" style="width: 40%;min-width: 400px;">

            <p style="font-family: 'Fjalla';text-align: right;font-size: 1.6rem;">OPCION 2</p>
            <div style="background-color: white;">
                <h1 style="padding: 2rem 1rem;text-align: right;font-size: 1.2rem;font-family: 'Fjalla'">CAMISA CON DISEÑO OFICIAL DE CORRE POR CÚCUTA VIRTUAL - FINISHER</h1>
                <h2 style="padding: 2rem 1rem;text-align: right;font-size: 1.2rem;font-family: 'Fjalla'; background: red;">$ 50.000</h2>
            </div>
        </div>
        <div class="subscription-option" style="width: 40%;min-width: 400px;">

            <p style="font-family: 'Fjalla';text-align: right;font-size: 1.6rem;">OPCION 3</p>
            <div style="background-color: white;">
                <h1 style="padding: 2rem 1rem;text-align: right;font-size: 1.2rem;font-family: 'Fjalla'">CAMISA FINISHER + MEDALLA FINISHER + OBSEQUIO</h1>
                <h2 style="padding: 2rem 1rem;text-align: right;font-size: 1.2rem;font-family: 'Fjalla'; background: red;">$ 55.000</h2>
            </div>
        </div> -->
        <p class="benefit" style="margin:0 auto;text-align:center;margin-top: 4rem!important;margin-bottom: 0!important;font-family:'Fjalla';font-size: 4rem;">CON TU REGISTRO GRATIS RECIBIRAS</p>
       
        <div style="width: max-content;margin:0 auto;display: block;">
            <img class="benefit"  src="../../../assets/images/certificado-finisher.png">
            <img class="benefit"  src="../../../assets/images/etiqueta-numero.png">
            <img class="benefit" src="../../../assets/images/descuento-correporcucuta.png">
        </div>
       

        <!-- <img src="../../../assets/images/free-for-all.png" style="    position: relative;bottom: 0px;width: 115vw;margin: 0 auto;text-align: center;margin-top:8rem;"> -->
    </div>
</div>


<div id="transparent-section" class="banner transparent">
    <div class="half-height-container paralax">
        <img src="../../../assets/images/running-tips.png" style="    position: relative;left: 10%;margin-top:10%;width: 80vw;max-width: 400px;">
        <h1>PREPÁRATE PARA LA CARRERA</h1>
        <!-- <img src="../../../assets/images/free-for-all.png" style="    position: relative;bottom: 0px;width: 115vw;margin: 0 auto;text-align: center;margin-top:8rem;"> -->
    </div>
</div>

<div class="banner">
    <div class="full-height-container white">
        <img src="../../../assets/images/como-participar.png" style="width: 100%;left: 0;position: relative;">
        <p style="float: right;font-family: 'Fjalla';font-size: 4rem;color: #2C2C2C;margin-right: 5rem;width: 100%;text-align: right;">CUIDADOS ESPECIALES</p>
        <ul style="width: 100vw;max-width: 500px;font-family: 'Fjalla';margin-top: 0;margin-right: 5rem;float: right;">
            <li  style="width: 100vw;
    max-width: 700px;
    font-family: 'Fjalla';
    font-size: 1.4rem;
    margin: 1rem 0;
    text-decoration: underline;
    margin: 2rem auto!important;
    text-align: center;
    list-style: none;">MANTENTE BIEN HIDRATADO</li>
            <li  style="width: 100vw;
    max-width: 700px;
    font-family: 'Fjalla';
    font-size: 1.4rem;
    margin: 1rem 0;
    text-decoration: underline;
    margin: 2rem auto!important;
    text-align: center;
    list-style: none;">SIGUE LAS RECOMENDACIONES DE DISTANCIAMIENTO SOCIAL</li>
            <li  style="width: 100vw;
    max-width: 700px;
    font-family: 'Fjalla';
    font-size: 1.4rem;
    margin: 1rem 0;
    text-decoration: underline;
    margin: 2rem auto!important;
    text-align: center;
    list-style: none;">NO SACRIFIQUES ESTADO FISICO POR TIEMPO RECUERDA QUE  COMPITES CONTRA TI MISMO</li>
        </ul>
        <p style="float: none;
        font-family: 'Fjalla';
        font-size: 4rem;
        color: #2C2C2C;
        margin-right: unset;
        width: 90%;
        text-align: center;
        margin: 2rem auto;
    ">DETALLES DE LA CARRERA VIRTUAL</p>
        <ul style="width: 100vw;max-width: 500px;font-family: 'Fjalla';margin-top: -10vh;margin-left: 10vw;float: left;">
            <li  style="width: 100vw;
    max-width: 700px;
    font-family: 'Fjalla';
    font-size: 1.4rem;
    margin: 1rem 0;
    text-decoration: underline;
    margin: 2rem auto!important;
    text-align: center;
    list-style: none;">CORRE EN TU CASA, EN UNA BANDA TROTADORA O AFUERA EN UN LUGAR SEGURO Y APROBADO</li>
            <li  style="width: 100vw;
    max-width: 700px;
    font-family: 'Fjalla';
    font-size: 1.4rem;
    margin: 1rem 0;
    text-decoration: underline;
    margin: 2rem auto!important;
    text-align: center;
    list-style: none;">REGISTRA TU TIEMPO A TRAVÉS DE TU TELÉFONO O SMARTWATCH. DEBERÁS INGRESAR EL MEJOR TIEMPO QUE LOGRES</li>
            <li  style="width: 100vw;
    max-width: 700px;
    font-family: 'Fjalla';
    font-size: 1.4rem;
    margin: 1rem 0;
    text-decoration: underline;
    margin: 2rem auto!important;
    text-align: center;
    list-style: none;">UNA VEZ HABILITADO EL LINK PODRÁS INGRESAR LOS DATOS DE TU PARTICIPACIÓN EN LA CARRERA</li>
            <li  style="width: 100vw;
    max-width: 700px;
    font-family: 'Fjalla';
    font-size: 1.4rem;
    margin: 1rem 0;
    text-decoration: underline;
    margin: 2rem auto!important;
    text-align: center;
    list-style: none;">ADJUNTA LAS PRUEBAS DE TU TIEMPO USANDO UNA CAPTURA DE PANTALLA O DESCARGANDO LOS DETALLES DESDE TU APLICACIÓN PREFERIDA</li>
            <li  style="width: 100vw;
    max-width: 700px;
    font-family: 'Fjalla';
    font-size: 1.4rem;
    margin: 1rem 0;
    text-decoration: underline;
    margin: 2rem auto!important;
    text-align: center;
    list-style: none;">DESCARGA TU CERTIFICADO DE FINALIZACIÓN 24 HORAS DESPUÉS DE REGISTRAR TU TIEMPO EN NUESTRO LINK</li>
            <li  style="width: 100vw;
    max-width: 700px;
    font-family: 'Fjalla';
    font-size: 1.4rem;
    margin: 1rem 0;
    text-decoration: underline;
    margin: 2rem auto!important;
    text-align: center;
    list-style: none;">LOS DIAS SIGUIENTES AL ULTIMO DIA DE PARTICIPACIÓN DE LA CARRERA SE HABILITARÁ EL LINK 'RESULTADOS' DONDE PODRÁS VER UN PODIO VIRTUAL DE LOS CORREDORES Y SUS TIEMPOS</li>
        </ul>
    </div>
</div>



<img src="../../../assets/images/background-paralax-runner.jpg" style="    width: auto;
position: fixed;
top: 0;
left: 0;
top: 0;
z-index: -1;
height: auto;
width: auto;
min-width: 100vw;
min-height: 1080px;">


<div class="floating-buttons">
    <div class="camisa" style="width: 4rem;
    height: 3rem;
    background-color: black;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 4rem;
    overflow: hidden;
    /* border: 9px solid #4e4e4e; */
    background-color: #3a3a3a;
    box-shadow: 0 0 57px -19px;
    border: 7px solid #1d1e1e;cursor: pointer;" (click)="scrollTo(0)">
        <img style="border-radius: 500px;width: 90%;margin: 0.4rem auto;display: block;" src="../../../assets/images/mini-shirt.png">
    </div>
    <!-- <div class="camisa" style="    width: max-content;
    height: max-content;
    padding: 1rem 1.4rem;
    background-color: black;
    position: fixed;
    bottom: 1rem;
    right: 7.5rem;
    overflow: hidden;
    /* border: 9px solid #4e4e4e; */
    background-color: #f1006d;
    box-shadow: 0 0 57px -19px;
    font-family: 'Fjalla';
    color: white;
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 10px;
    bottom: 20px;cursor: pointer;" (click)="navigateToRegistration()">
    QUIERO CORRER
    </div> -->
</div>
