<div style="width: 100vw;min-height: 100vh;padding-top: 100px;height: maxcontent;">
  <ul style="display: grid;
  grid-template-columns: repeat(auto-fill,260px);
  grid-gap: 28px 40px;
  justify-content: center;
  border-top: unset;
  background-color: #fafaf8;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  width: 85vw;">
    <li class="sponsor"><a href="https://www.instagram.com/carvepa.sas/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">MOBILIARIO DE OFICINA<img style="width: 100%;" src="../../../assets/images/CARVEPA.jpeg"></a>
    </li>
    <li class="sponsor"><a href="https://www.instagram.com/negron_cucuta/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">CHOCOLATERÍA Y FLORISTERÍA - AGENDA TUS PEDIDOS AHORA! <img style="width: 100%;"  src="../../../assets/images/NEGRON.jpeg"></a></li>
    <li class="sponsor"><a  href="https://www.instagram.com/panaderia_caramelo/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color: black;">SERVICIO DE DOMICILIOS - PAGOS EN EFECTIVO Y TRANSFERENCIA<img style="width: 100%;" src="../../../assets/images/yuvasa.jpeg"></a></li>
    <li class="sponsor"><a href="https://www.instagram.com/domiciliosyuvasa/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">PANADERÍA TRADICIONAL CUCUTEÑA 23 AÑOS<img style="width: 100%;" src="../../../assets/images/CARAMELO.jpeg"></a></li>
    <li class="sponsor"><a href="https://www.instagram.com/colosal_col/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">PISCINAS E INFLABLES PARA EL HOGAR<img style="width: 100%;" src="../../../assets/images/COLOSAL.jpeg"></a></li>
    <li class="sponsor"><a href="https://www.instagram.com/appleshopcucuta/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">TIENDA TECNOLÓGICA ESPECIALIZADA<img style="width: 100%;" src="../../../assets/images/APPLE-SHOP.jpeg"></a></li>
    <li class="sponsor"><a href="https://www.instagram.com/pinchetascucuta/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">RESTAURANTE - #PinchetasAlAuto <img style="width: 100%;" src="../../../assets/images/PINCHETAS.jpeg"></a></li>
    <li class="sponsor"><a href="https://www.instagram.com/2ovalles/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">SERVICIO DE DESARROLLO DE SOFTWARE Y PAGINAS WEB<img style="width: 100%;" src="../../../assets/images/2OVALLES.jpeg"></a></li>
    <li class="sponsor"><a href="https://www.instagram.com/panahoracol/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">APLICACIÓN WEB CUCUTEÑA - PIDE PAN EN LINEA DE PANADERÍAS COMO CARAMELO!<img style="width: 100%;" src="../../../assets/images/PANAHORA.jpeg"></a></li>
    <li class="sponsor"><a href="https://www.instagram.com/dradeisybareno/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">MEDICINA ESTÉTICA - DEPILACIÓN LÁSER<img style="width: 100%;" src="../../../assets/images/DEISYBARENO.jpeg"></a></li>
    <li class="sponsor"><a href="https://www.instagram.com/calzadoamore/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">CALZADO AMORE - DALE A TUS PIES EL MEJOR ESTILO<img style="width: 100%;" src="../../../assets/images/AMORE.jpg"></a></li>
    <li class="sponsor"><a href="https://www.instagram.com/aguafont/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">AGUA FONT - NOS MANTIENE HIDRATADOS<img style="width: 100%;" src="../../../assets/images/AGUA FONT.jpg"></a></li>
    <li class="sponsor"><a href="https://www.instagram.com/kalanobleas.santanderes/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">KALAN - OBLEAS MEXICANAS<img style="width: 100%;" src="../../../assets/images/KALAN.jpg"></a></li>
    <li class="sponsor"><a href="https://www.instagram.com/maypollorico/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">MAYPOLLO - NUESTRO FAVORITO<img style="width: 100%;" src="../../../assets/images/MAYPOLLO.jpg"></a></li>
    <li class="sponsor"><a href="https://www.instagram.com/planetastorecol/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">PLANETA STORE - LOS ZAPATOS DEPORTIVOS, COMO SE DEBEN<img style="width: 100%;" src="../../../assets/images/PLANETA STORE.jpg"></a></li>
    <li class="sponsor"><a href="https://www.instagram.com/goingnutricion/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">GOING - NUTRICION PARA LAS CARRERAS<img style="width: 100%;" src="../../../assets/images/GOING.png"></a></li>
    <!-- <li class="sponsor"><a href="https://www.instagram.com/dradeisybareno/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">MEDICINA ESTÉTICA - DEPILACIÓN LÁSER<img style="width: 100%;" src="../../../assets/images/DEISYBARENO.jpeg"></a></li> -->
    <!-- <li class="sponsor"><a href="https://www.instagram.com/dradeisybareno/" target="_blank" style="width: 100%;text-align: center;font-family: 'Fjalla';font-size: 2rem;color : black;">MEDICINA ESTÉTICA - DEPILACIÓN LÁSER<img style="width: 100%;" src="../../../assets/images/DEISYBARENO.jpeg"></a></li> -->
  
  </ul>
  <div (click)="getRunners()">bajar reporte

  </div>
</div>
